body {
    background-image:url('back.png');
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

.buttons{
    /*background-color:#FFFFFF;
    opacity: 30;*/
    background: rgba(0%,0%,0%,0.005);
    border-radius: 15px; 
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px; 
    width:140px;
    height:50px;
    border-width:1px;
    border-style:solid;
    border-color:#0066FF;
}
