body {
    background-image:url('back.png');
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
}

.buttons{
    /*background-color:#FFFFFF;
    opacity: 30;*/
    background: rgba(0%,0%,0%,0.6);
    border-radius: 15px; 
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px; 
    width:140px;
    height:50px;
    border:2px;
    border-color:#0066FF;
}
